/* shared */

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.button{
    padding: 0 1rem;
    border-radius: 8px;
    font-size: 1.5rem;
    color: black;
    background-color: #3882F6;
}

.button:hover{
    cursor: pointer;
    background-color: white;
}

.container{
    display: flex; 
    justify-content: center;
}

/* Header/First container */

#header{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    align-items: center;
}

#first-container{
    background-color: #1F2937;
    flex-wrap: wrap;
}

#inside-first-container{
    max-width: 65vw;
    display: flex;
    flex-direction: column;
}

#main-logo{
    color: #E5E7EB;
    font-size: 36px;
}

.header-nav-links{
    display: flex;
    gap: 2rem;
}

.nav-links:hover{
    color: grey;
    cursor: pointer;
}

.hero-image-container{
    display: flex;
    justify-content: space-between;
    padding: 10rem 0 8rem 0;
    align-items: center;
}

#hero-main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

#hero-secondary-text,
.header-nav-links,
a{
    font-size: 18px;
    color: #E5E7EB
}

#sign-up-button-first-container{
    border-style: none;
    padding: 3px 20px 5px 20px;
    font-size: 20px;
}

/* Second container */

#second-container{
    text-align: center;
    padding: 3rem 0;
}

#header-text-second-container{
    font-size: 3rem;
    margin-bottom: 3rem;
}

#images-text-second-container{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.images-second-container{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    row-gap: 1rem;
}

.second-container-images-only{
    border: 0.3rem solid #3882F6;
    border-radius: 10px;
}

#hero-image{
    border-radius: 10px;
}

#content-second-container{
    padding-bottom: 2rem;
}

/* Third container */

#third-container{
    background-color: #E5E7EB;
    padding: 12rem 0;
}

#content-third-container{
    max-width: 65vw;
    display: flex;
    flex-direction: column;
}

#quote-text{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

#quote-said-by{
    align-self: flex-end;
    font-weight: 900;
    font-size: 30px;
}

/* Fourth container */

#content-fourth-container{
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    margin: 5rem 27rem;
    padding: 5rem;
    flex-wrap: wrap;
}

#call-to-action{
    font-size: 2rem;
}

#sign-up-button-fourth-container{
    border: 2px solid white;
    padding-bottom: 2px;
}

/* Footer/Fifth container */

#fifth-container{
    background-color:#1F2937;
    color: white;
    padding: 2.5rem;
}

#odin-project-link:hover,
#Dauxlan-github:hover{
    color: grey;
}

